
/* H1 */
/* font-family: "filson-pro", sans-serif;
font-weight: 400;
font-style: normal; */


/* Name
Adelle Sans Extrabold
font-family: "adelle-sans", sans-serif;
font-weight: 800;
font-style: normal; */

/* Full Stack title and nav button / bar
Gibson Thin
font-family: "canada-type-gibson", sans-serif;
font-weight: 100;
font-style: normal; */

/* colors
#000000
#ADADAD
/* nav highlight #E80588 */

stroke 2px */



